{% extends "base.html" %}

{% block title %}系统设置 - {{ settings.app_name }}{% endblock %}

{% block content %}
<div class="layui-row">
  <div class="layui-col-md8">
    <div class="layui-card">
      <div class="layui-card-header">系统设置</div>
      <div class="layui-card-body">
        <form class="layui-form" action="{{ url_for('admin.update_settings') }}" method="post">
          <div class="layui-form-item">
            <label class="layui-form-label">应用名称</label>
            <div class="layui-input-block">
              <input type="text" name="app_name" value="{{ settings.app_name }}" placeholder="应用名称" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">LOGO路径</label>
            <div class="layui-input-block">
              <input type="text" name="app_logo" value="{{ settings.app_logo }}" placeholder="/static/images/logo.png" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">HTTP代理</label>
            <div class="layui-input-block">
              <input type="text" name="http_proxy" value="{{ settings.http_proxy }}" placeholder="http://127.0.0.1:7897" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">HTTPS代理</label>
            <div class="layui-input-block">
              <input type="text" name="https_proxy" value="{{ settings.https_proxy }}" placeholder="http://127.0.0.1:7897" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">User-Agent</label>
            <div class="layui-input-block">
              <input type="text" name="user_agent" value="{{ settings.user_agent }}" placeholder="Mozilla/5.0 ..." autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">Referer</label>
            <div class="layui-input-block">
              <input type="text" name="referer" value="{{ settings.referer }}" placeholder="https://www.baidu.com/" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">sec-ch-ua</label>
            <div class="layui-input-block">
              <input type="text" name="sec_ch_ua" value="{{ settings.sec_ch_ua }}" placeholder='"Chromium";v="142", "Not_A Brand";v="99", "Google Chrome";v="142"' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">sec-ch-ua-platform</label>
            <div class="layui-input-block">
              <input type="text" name="sec_ch_ua_platform" value="{{ settings.sec_ch_ua_platform }}" placeholder='"Windows"' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">sec-ch-ua-mobile</label>
            <div class="layui-input-block">
              <input type="text" name="sec_ch_ua_mobile" value="{{ settings.sec_ch_ua_mobile }}" placeholder='?0' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit>保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="layui-col-md4">
    <div class="layui-card">
      <div class="layui-card-header">预览</div>
      <div class="layui-card-body" style="text-align:center">
        <img src="{{ settings.app_logo }}" alt="LOGO" style="max-height:60px;vertical-align:middle">
        <div style="margin-top:10px">{{ settings.app_name }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
